streamlit
PyMuPDF
numpy<2.0
torch
requests
msal
sentence_transformers
chromadb
requests
nltk
python-dotenv
azure-functions
msgraph-sdk
azure-identity
protobuf==3.20.3
llama-index-core
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-readers-file